# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
public/build/

# Optional: IDE/Editor settings
.vscode/
.idea/

# Environment variables
.env
.env.local

# Logs
*.log

# Tailwind cache
.tailwind-cache/

# OS generated
Thumbs.db
